.ui.stackable.borderless.menu
    .ui.container
        a.header.icon.item(href='/' class="{{isActivePath '/'}}")
            h1 Map Your Voice
        // a.item(href='/festivals' class="{{isActivePath '/festivals'}}") Festivals
        // a.item(href='/bands' class="{{isActivePath '/bands'}}") Bands
        .right.menu 
            a.item(href='/admin/content' class="{{isActivePath '/admin/'}}")
                i.configure.icon
                | Admin
            // a.item(href='/messages' class="{{isActivePath '/messages'}}")
            //     i.mail.icon
            if currentUser
                a.item(href="/account/profile/edit" class="{{isActivePath '/account/profile/edit'}}")
                    if currentUser.image_id
                        img.ui.avatar.image(src="{{c.url currentUser.image_id width=50 height=50 gravity='face' crop='fill'}}")
                    else
                        i.user.icon
                    if currentUser.name
                        | #{currentUser.name}
                    else
                        | Profile
                a#logout.ui.item(href='#') 
                    i.sign.out.icon
                    |Sign Out
            else
                a.ui.item(href='/sign-in') 
                    i.sign.in.icon
                    |Sign In
